/* General */

.container {
  width: 100%;
  padding: 0 15px;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1060px;
    margin: auto;
    padding: 0;
  }
}

/* Navbar */

.navbar {
  padding: 12px 0;
  text-align: center;
  background-color: white;
}

.toggle, .toggle:hover, .toggle:active {
  padding-left: 0;
  border: none;
  outline: none;
}

.brand {
  position: absolute;
  top: 8px;
  left: calc(50vw - 85px);
}

.nav_links {
  padding-top: 10px;
}

.nav_link {
  margin: 0 8px;
  font-size: 14px;
  font-weight: 600;
  color: #888e8e !important;
  transition: 0.3s;
}

.nav_link:hover {
  color: #126660 !important;
}

.sign_links {
  display: flex;
  align-items: center;
}

.signin_link {
  margin: 0 16px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  color: #126660 !important;
  transition: 0.3s;
}

.signin_link:hover {
  color: grey !important;
  text-decoration: underline;
}

.signup_btn {
  padding: 12px 34px !important;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  font-size: 14px;
  font-weight: bold;
  color: white !important;
  background-color: #126660;
  transition: 0.3s;
}

.signup_btn:hover {
  background-color: grey;
}

@media only screen and (min-width: 992px) {
  .navbar {
    margin: auto;
    padding: 20px 0;
  }
  .brand {
    top: 18px;
    left: 0;
  }
  .nav_links {
    margin-right: 50px;
    padding-top: 0;
  }
}

/* Hero Section */

.hero_section {
  padding: 20px 0 40px;
}

.hero_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

.hero_detail {
  margin: 0 0 24px;
  font-size: 14px;
  line-height: 1.65;
  color: #888e8e;
}

.hero_btns {
  display: flex;
  align-items: center;
}

.tenant_btn {
  margin-right: 12px;
  margin-bottom: 12px;
}

.tenant_btn_1 {
  display: block;
  margin-bottom: 12px;
}

.hero_img {
  max-width: 100%;
}

@media only screen and (min-width: 426px) {
  .hero_content {
    margin-bottom: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .hero_section {
    padding: 52px 0 96px;
  }
  .hero_title {
    font-size: 40px;
  }
  .hero_detail {
    margin: 20px 0 32px;
    font-size: 17px;
  }
}

@media only screen and (min-width: 992px) {
  .hero_detail {
    width: 375px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero_img {
    width: 612px;
    max-width: none;
  }
}

/* Checking Section */

.checking_section {
  padding: 24px 0 32px;
  background-color: #f5fafa;
}

.checking_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
}

.checking_detail {
  margin: 8px 0 32px;
  font-size: 14px;
  line-height: 1.65;
  color: #888e8e;
}

.checking_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checking_item_title {
  margin: 24px 0 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

.checking_item_detail {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.57;
  color: #888e8e;
}

@media only screen and (min-width: 768px) {
  .checking_section {
    padding: 96px 0;
    background-color: #f5fafa;
    text-align: center;
  }
  .checking_title {
    font-size: 40px;
  }
  .checking_detail {
    margin: 16px 0 56px;
    font-size: 17px;
  }
  .checking_item {
    align-items: center;
  }
  .checking_item_detail {
    width: 232px;
    text-align: center;
  }
}

/* Free Section */

.free_section {
  padding: 32px 0 40px;
}

.free_application {
  margin-bottom: 34px;
}

.free_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.22;
}

.free_detail {
  margin: 0 0 24px;
  font-size: 14px;
  line-height: 1.63;
  color: #888e8e;
}

.feature_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  margin-right: 72px;
}

.feature_img {
  height: 45px;
  object-fit: none;
}

.feature_text {
  margin: 18px 0 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .free_section {
    padding: 96px 0;
  }
  .free_application {
    margin-bottom: 60px;
  }
  .free_title {
    font-size: 36px;
  }
  .free_detail {
    margin: 20px 0 32px;
    font-size: 16px;
  }
}

/* Review Section */

.review_section {
  padding: 24px 0 32px;
  text-align: center;
  background-color: #f5fafa;
}

.review_title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
}

.review_item, .review_item_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review_item_1 {
  border-left: 1px solid #ddebe9;
  border-right: 1px solid #ddebe9;
}

.review_name {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.review_address {
  font-size: 14px;
  line-height: 1.43;
  color: #126660;
}

.review_divider {
  width: 50px;
  height: 2px;
  margin: 16px 0;
  background-color: #56918d;
}

.review_detail {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.43;
  color: #888e8e;
}

@media only screen and (min-width: 768px) {
  .review_section {
    padding: 96px 0;
    background-color: #f5fafa;
  }
  .review_title {
    margin-bottom: 72px;
    font-size: 40px;
  }
  .review_name {
    font-size: 18px;
  }
}

/* Plan Section */

.plan_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 15px 48px;
  background-color: #f5fafa;
}

.plan_title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
}

.plan_detail {
  margin: 8px 0 24px;
  font-size: 14px;
  line-height: 1.65;
  color: #888e8e;
}

.plan_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 27px 12px 29px;
  border-radius: 3px;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.06);
  background-color: white;
}

.plan_card_title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.plan_percent {
  margin: 8px 0;
  font-size: 40px;
  font-weight: bold;
}

.percent_icon {
  font-size: 18px;
}

.plan_text {
  margin-right: 4px;
  font-size: 12px;
}

.plan_list {
  list-style: none;
  margin-top: 23px;
  padding-top: 21px;
  padding-left: 0;
  border-top: 1px solid #e1e8eb;
}

.plan_item {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 1.33;
}

.check_icon {
  width: 15px;
  height: auto;
  margin-right: 12px;
}

@media only screen and (min-width: 576px) {
  .plan_card {
    width: 480px;
    padding: 40px 40px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
  }
  .plan_card_title {
    font-size: 24px;
  }
  .plan_percent {
    margin: 28px 0 8px;
    font-size: 48px;
  }
  .percent_icon {
    font-size: 24px;
  }
  .plan_text {
    margin-right: 7px;
    font-size: 16px;
  }
  .plan_list {
    margin-top: 32px;
    padding-top: 32px;
  }
  .plan_item {
    margin-bottom: 28px;
    font-size: 18px;
  }
  .check_icon {
    width: auto;
    margin-right: 17px;
  }
}

@media only screen and (min-width: 768px) {
  .plan_section {
    padding: 80px 0 104px;
  }
  .plan_title {
    font-size: 40px;
  }
  .plan_detail {
    margin: 16px 0 48px;
    font-size: 17px;
  }
}

/* Choose Section */

.choose_section {
  padding: 40px 15px;
  background-color: #126660;
}

.choose_title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
  color: white;
}

@media only screen and (min-width: 576px) {
  .choose_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .choose_section {
    padding: 128px 15px;
  }
  .choose_title {
    font-size: 48px;
  }
}

/* Footer */

.footer_desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer_desktop {
    display: block;
  }
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.footer_link {
  margin: 0 22px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.footer_link:hover {
  color: grey;
}

.footer_mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  background-color: #f7f7f7;
}

.footer_privacy {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  transition: 0.3s;
  cursor: pointer;
}

.footer_privacy:hover {
  color: grey;
}

.social_links {
  display: flex;
}

.social_link {
  margin-left: 8px;
  margin-right: 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}

.social_link:hover {
  color: grey;
}

.footer_bottom {
  padding: 24px;
  font-size: 14px;
  line-height: 1.57;
  color: #888e8e;
  background-color: #ebebeb;
}

@media only screen and (min-width: 768px) {
  .footer-bottom {
    padding: 15px;
  }
}

.footer_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer_mobile {
    display: none;
  }
}

.footer_logo {
  margin: 32px 0 20px;
  cursor: pointer;
}

.footer_links_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_link_mobile {
  margin: 12px 0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: 0.3s;
}

.footer_link_mobile:hover {
  color: grey;
}

.social_icon {
  margin: 18px;
  cursor: pointer;
}