.navbar {
  padding: 12px 0;
  text-align: center;
  background-color: white;
}

.toggle, .toggle:hover, .toggle:active {
  padding-left: 0;
  border: none;
  outline: none;
}

.brand {
  position: absolute;
  top: 8px;
  left: calc(50vw - 85px);
}

.nav_links {
  padding-top: 10px;
}

.nav_link {
  margin: 0 8px;
  font-size: 14px;
  font-weight: 600;
  color: #888e8e !important;
  transition: 0.3s;
}

.nav_link:hover {
  color: #126660 !important;
}

.sign_links {
  display: flex;
  align-items: center;
}

.signin_link {
  margin: 0 16px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  color: #126660 !important;
  transition: 0.3s;
}

.signin_link:hover {
  color: grey !important;
  text-decoration: underline;
}

.signup_btn {
  padding: 12px 34px !important;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  font-size: 14px;
  font-weight: bold;
  color: white !important;
  background-color: #126660;
  transition: 0.3s;
}

.signup_btn:hover {
  background-color: grey;
}

@media only screen and (min-width: 992px) {
  .navbar {
    margin: auto;
    padding: 20px 0;
  }
  .brand {
    top: 18px;
    left: 0;
  }
  .nav_links {
    margin-right: 50px;
    padding-top: 0;
  }
}