html, body {
  padding: 0;
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  color: #131f1e;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}